<ion-header>
  <ion-toolbar>
    <ion-title>cadastra-tarefas</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="irParaTarefas()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input type="text" 
             [(ngModel)]="nome" 
             placeholder="Nome">
  </ion-input>
  <ion-textarea [(ngModel)]="descricao" 
                placeholder="Descrição"></ion-textarea>
  <ion-button (click)="cadastrar()">Ok</ion-button>
</ion-content>
